{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="login">
        <div class="container">
            <div class="header">
                <h3>Change Password</h3>
            </div>
            <div class="container-form">
                <form action="" method="post" id="change-password-form" >{% csrf_token %}
                    <div class="form-row">
                        <label class="required" for="id_password1">Old Password:</label>
                        <input class="form-control" id="id_password1" name="password" type="password" />
                    </div>
                    <div class="form-row">
                        <label class="required" for="id_password2">New Password:</label>
                        <input class="form-control" id="id_password2" name="password" type="password" />
                    </div>
                    <div class="submit-row">
                        <input class="btn btn-success" type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).on('submit', '#change-password-form', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/account/change/password/',
                headers: {
                    'Authorization': localStorage.getItem("token")
                },
                data: {
                    old_password: $('#id_password1').val(),
                    new_password: $('#id_password2').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response){
                    localStorage.setItem("token", response["token"])
                    window.location.href = "/assignment/task/dashboard/";
                },
                error: function(error_data){
                    console.log("error")
                }
            });
        });
    </script>
{% endblock content %}