{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row" style="">
            <div class="col-sm-1 offset-1">
                <p id="demo0"></p>
                <p id="demo2"></p>
                <p id="demo1"></p>
                <p id="demo3"></p>
            </div>
            <div class="col-sm-5">
                <canvas id="myChart" width="50" height="50"></canvas>
            </div>
            <div class="col-sm-5">
                <canvas id="myChart2" width="50" height="50"></canvas>
            </div>
        </div>
    </div>
    <script>
        var endpoint = '/assignment/user/data/'
        var defaultData = []
        var labels = []
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data) {
                labels = data["labels"]
                defaultData = data["default"]
                var myObj = data, text, count = 0;
                console.log(myObj)
                for (x in myObj) {
                    c = "demo" + count.toString()
                    document.getElementById(c).innerHTML += x + "<br>";
                    if (x === "labels") {
                        text = "<ul>";
                        for (i = 0; i < labels.length; i++) {
                            text += "<li>" + myObj.labels[i] + "</li>";
                        }
                        text += "</ul>";
                        document.getElementById("demo2").innerHTML = text;
                    }
                    else {
                        text = "<ul>";
                        for (j = 0; j < defaultData.length; j++) {
                            text += "<li>" + myObj.default[j] + "</li>";
                        }
                        text += "</ul>";
                        document.getElementById("demo3").innerHTML = text;
                    }
                    count +=1
                }
            },
            error: function(error_data){
                console.log("error")
            }
        })
    </script>
    <script>
        {% block jquery %}
            var endpoint = '/assignment/user/data/'
            var defaultData = []
            var labels = []
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data) {
                    labels = data["labels"]
                    defaultData = data["default"]
                    setChart()
                },
                error: function(error_data){
                    console.log("error")
                }
            })
        function setChart(){
            var ctx = document.getElementById("myChart");
            var ctx2 = document.getElementById("myChart2");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Votes',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    },
                    layout: {
                        padding: {
                            left: 10,
                            right: 0,
                            top: 0,
                            bottom: 0
                        }
                    },
                    legend: {
                        display: true,
                        labels: {
                            fontColor: 'Red'
                        }
                    },
                    title: {
                        display: true,
                        text: 'Custom Chart Title',
                        fontColor: 'rgba(255,0,255,0.6)'
                    }
                }
            });
            var myChart2 = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Votes',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            }
        {% endblock %}
    </script>
{% endblock content %}