{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="login">
        <div class="container">
            <div class="header">
                <h3>Forget Password</h3>
            </div>
            <div class="container-form">
                <form action="" method="post" id="forget-password-form" >{% csrf_token %}
                    <div class="form-row">
                        <label class="required" for="id_username">Email address:</label>
                        <input class="form-control" id="id_username" placeholder="xyz@example.com" maxlength="254" name="username" type="text" />
                    </div>
                    <div class="submit-row">
                        <input class="btn btn-success" type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).on('submit', '#forget-password-form', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/account/forget/password/',
                data: {
                    email: $('#id_username').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response){
                    alert("Sent reset code!");
                    window.location.href = "/";
                },
                error: function(error_data){
                    console.log("error")
                }
            });
        });
    </script>
{% endblock content %}