{% extends "base.html" %}
{% block content %}
<div class="signup">
    <div class="container">
        <div class="header">
            <h3>Register</h3>
        </div>
        <form action="" method="post" id="signup-form" >{% csrf_token %}
            <div class="btn-group clearfix" >
                <button type="button" onclick="setValue(1)" class="btn btn-default my-btn" value="Admin">
                    Admin
                </button>
                <button type="button" onclick="setValue(2)" class="btn btn-default my-btn" value="Teacher">
                    Teacher
                </button>
                <button type="button" onclick="setValue(3)" class="btn btn-default my-btn" value="Student">
                    Student
                </button>
                <input type="hidden" id="id_type" name="Admin">
            </div>
            <div>
                <div class="form-row">
                    <label class="required" for="id_fullname">Full Name:</label>
                    <input class="form-input" id="id_fullname" placeholder="Xyz Pqr" maxlength="254" name="fullname" type="text" />
                </div>
                <div class="form-row">
                    <label class="required" for="id_email">Email:</label>
                    <input class="form-input" id="id_email" placeholder="xyz@example.com" maxlength="254" name="email" type="text" />
                </div>
                <div class="form-row">
                    <label class="required" for="id_password">Password:</label>
                    <input class="form-input" id="id_password" name="password" type="password" />
                </div>
                <div class="submit-row">
                    <label>&nbsp;</label>
                    <input class="btn btn-success" type="submit" value="Register" />
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function setValue(data) {
        document.getElementById("id_type").value = data;
    }
    $('.my-btn').click(function () {
        $('.my-btn').removeClass('active');
        $(this).addClass('active');
    });
    $(document).on('submit', '#signup-form', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/account/api/signup/',
            data: {
                full_name: $('#id_fullname').val(),
                email: $('#id_email').val(),
                password: $('#id_password').val(),
                role: $('#id_type').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(){
                alert('login successfuly');
            }
        });
    });
</script>
{% endblock content %}